appdirs==1.4.2
click==6.7
Flask==0.12
Flask-SQLAlchemy==2.2
gunicorn==19.7.0
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
packaging==16.8
pg8000==1.10.6
psycopg2==2.7.1
py-postgresql==1.2.1
PyGreSQL==5.0.3
pyparsing==2.1.10
six==1.10.0
SQLAlchemy==1.1.6
virtualenv==15.1.0
Werkzeug==0.11.15
whitenoise==3.3.0