html, body {
    background-color:#CACACA;
}

.checkbox-lg {
	margin-top: 20px;
    width: 20px;
    height: 20px;}

ul#horizontal_list li {
  display: inline;
}

.image {
    width: 40%;
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
}

.btn-group.special {
	display: flex;
}

.special .btn {
	flex: 1
}